   {% extends "nav.html" %}
   {% load crispy_forms_tags %}
   {% block content%}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<div class="row justify-content-center mt-5" >
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{book_forms|crispy}}
                     <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock%}

